@use "./../../styles/variables" as v;
@use "./../../styles/mixins" as m;

.card {
  position: relative;
  min-height: 270px;
  display: flex;
  flex-direction: column;
  padding: 30px 35px 30px 35px;
  background-color: v.$main-bg-color;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 5px 5px 20px v.$box-chadow-color;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-5px);
  }

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 20px;
    pointer-events: none;
    border: 1px solid v.$border-color;
  }
}

.logoContainer {
  margin: 10px 0px 10px 20px;
  height: 50px;
  // _______
  display: flex;
  align-items: center;

  .logo {
    display: flex;
    flex-shrink: 0;
    display: block;
    width: auto;
    height: 100%;
  }
}
.logoWrapper {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: 10px;
  gap: 15px;
}

.logoTitle {
  font-size: 28px;
  font-weight: bold;
  color: v.$main-brand-color;
}
.description {
  flex-grow: 1;
  font-size: 18px;
  line-height: 1.4;
  color: v.$text-color;
  margin: 0px 10px 25px 10px;
}

.iconContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}

.icon {
  width: 26px;
  height: 29px;
  opacity: 0.7;
}

.profile {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin: 0px 0px 20px 10px;
}

.photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.textBlock {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 25px;
  line-height: 1;
  color: v.$main-brand-color;
  letter-spacing: normal;
  margin-bottom: 10px;
}

.position {
  color: v.$btn-light-color;
  font-size: 18px;
  line-height: 1;
  letter-spacing: normal;
}

// Media Queries for responsiveness
@include m.desktop {
  .card {
    padding: 20px;
  }
}

@include m.tablet {
  .profile {
    margin: 0px 0px 20px 20px;
  }
  .logoTitle {
    font-size: 32px;
  }
  .card {
    padding: 30px 20px;
  }

  .logoContainer {
    height: 45px;
    margin-bottom: 15px;
  }

  .description {
    font-size: 20px;
  }

  .photo {
    width: 70px;
    height: 70px;
  }

  .name {
    font-size: 22px;
  }

  .position {
    font-size: 16px;
    line-height: 1;
  }
}

@include m.mobile {
  .profile {
    margin: 0px 0px 20px 10px;
  }
  .logoTitle {
    font-size: 28px;
  }
}
@include m.small-mobile {
  .card {
    padding: 20px 15px;
  }

  .logoContainer {
    height: 30px;
  }

  .description {
    font-size: 14px;
  }

  .photo {
    width: 40px;
    height: 40px;
  }

  .name {
    font-size: 18px;
  }

  .position {
    font-size: 14px;
    line-height: 1.1;
  }
}
