// @use "../../styles/variables" as v;

// .customArrow {
//   position: absolute;
//   top: 50%;
//   transform: translateY(-50%);
//   z-index: 2;
//   cursor: pointer;
//   background-color: v.$border-color;
//   border-radius: 50%;
//   padding: 8px;
//   box-shadow: 0 0 6px v.$main-rgba-color;
// }

// .arrow-prev {
//   left: -25px;
// }

// .arrow-next {
//   right: -25px;
// }

// .arrowIcon {
//   display: block;
// }
.customArrow {
  width: 30px !important;
  height: 30px !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  border-radius: 50% !important;
  background-color: #fff !important;
  border: 1px solid #707070 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  z-index: 10 !important;
  line-height: 1 !important;
  transform: translateY(-50%);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: all var(--transition, 0.3s);
}
.customArrow:hover {
  transform: translateY(-50%) scale(1.05);
  background-color: #e0e0e0 !important;
}

.customArrow::before {
  content: "" !important;
  display: none !important;
  background-color: #f0f0f0;
  transform: translateY(-50%) scale(1.05);
}

.arrow-prev {
  left: -5px;
}
.arrow-prev {
  right: -5px;
}

@media (min-width: 1024px) {
  .arrow-prev {
    left: -22px;
  }
  .arrow-prev {
    right: -22px;
  }
}
@media (min-width: 768px) {
  .customArrow {
    width: 44px;
    height: 44px;
  }
  .arrow-prev {
    left: -22px;
  }
  .arrow-prev {
    right: -22px;
  }
}
@media (min-width: 1280px) {
  .arrowIcon {
    width: 30px;
    height: 30px;
  }
  .customArrow {
    width: 68px !important;
    height: 68px !important;
  }
  .arrow-prev {
    left: -68px;
  }
  .arrow-prev {
    right: -68px;
  }
}
.slick-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
