@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;

.header {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.icon {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}

.card {
  padding: 30px 40px;
}
.title {
  margin-bottom: 18px;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: normal;
  color: v.$main-brand-color;
}
.content {
  margin-bottom: 30px;
  font-size: 22px;
  line-height: 1.5;
  color: v.$main-brand-color;
  letter-spacing: normal;
}
@include m.tablet {
  .card {
    padding: 15px 10px;
  }

  .title {
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 1;
  }
  .content {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.3;
  }
}
@include m.mobile {
  .card {
    padding: 20px 10px;
  }
  .title {
    font-size: 18px;
    line-height: 1;
  }
  .content {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.3;
  }
}
