@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.footer {
  max-width: 1560px;
  margin: 0 auto;
  padding: 70px 70px;
  background-color: v.$footer-second-color;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 300px;
  gap: 80px;
}
.container {
  margin-bottom: 20px;
}
.text {
  color: v.$second-bg-color;
  font-size: 22px;
  line-height: 1.6;
  letter-spacing: normal;
}

.address > a {
  color: v.$second-bg-color;

  &:hover,
  &:focus {
    color: v.$btn-rgb-color;
  }
}
.socials {
  margin-top: 20px;
  display: flex;
  align-items: stretch;
  gap: 30px;
}

.link > img {
  transition: hover 0.3s;

  &:hover {
    transform: scale(1.1);
  }
}

.title {
  margin-inline: auto;
  margin-bottom: 20px;
  font-size: 26px;
  line-height: 1.4;
  letter-spacing: normal;
  color: v.$second-bg-color;
  color: v.$btn-light-color;
}

.links {
  .container > a {
    color: v.$second-bg-color;
    &:hover,
    &:focus {
      color: v.$btn-rgb-color;
    }
  }

  & > li {
    margin-bottom: 20px;
    & > a {
      color: v.$second-bg-color;
      font-size: 22px;
      line-height: 1.4;
      transition: color 0.3s ease;

      &:hover,
      &:focus {
        color: v.$btn-rgb-color;
      }
    }
  }
}
@media (max-width: 1200px) {
  .footer {
    padding: 60px 40px;
  }
  .wrapper {
    gap: 20px;
  }
  .text {
    font-size: 20px;
    line-height: 1.6;
  }
}

@include m.desktop {
  .footer {
    padding: 50px 30px;
  }
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap: 25px;
  }
  .title {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 7px;
  }
  .socials {
    justify-content: center;
  }
  .links {
    & > li {
      margin-bottom: 10px;
    }
    & > a {
      font-size: 20px;
      line-height: 1.4;
    }
  }
}
@include m.tablet {
  .footer {
    padding: 40px 10px;
  }
  .wrapper {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .text {
    font-size: 16px;
    line-height: 1.8;
  }
}
@include m.mobile {
  .footer {
    padding: 20px 5px;
  }
  .wrapper {
    grid-template-columns: 1fr;
  }
}
