@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.arrow {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
  display: block;
  width: 50px;
  height: 50px;
  background-color: #d5d3d3;
  // background-color: v.$main-card-color;
  border-radius: 50%;
  transition: box-shadow 0.3s ease;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &:hover {
    color: v.$box-chadow-color;
    box-shadow: 5px 5px 20px v.$box-chadow-color;
  }
}

@include m.tablet {
  .arrow {
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
  }
}
