@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.burger {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: v.$main-bg-color;
  z-index: 10000;

  & > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    gap: 20px;
  }
}
.none {
  left: -500px;
}

.close {
  position: absolute;
  top: 20;
  right: 20px;
  cursor: pointer;
}
.link {
  position: relative;
  color: v.$second-bg-color;
  font-size: 32px;
  line-height: 30px;
  letter-spacing: 0.4px;
  transition: color 0.3s ease;

  &:hover {
    color: v.$box-chadow-color;

    &::after {
      content: "";
      width: 100%;
    }
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: v.$main-rgba-color;
    transition: all 0.3s ease;
  }
}
@include m.mobile {
  .close {
    width: 40px;
    height: 40px;
  }
}
