@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.about {
  margin-bottom: 140px;
}
.wrapper {
  display: flex;
  justify-content: space-between;

  align-items: center;
  gap: 40px;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 50%;
}

.title {
  font-size: 42px;
  line-height: 1.4;
  letter-spacing: normal;
  color: v.$main-brand-color;
}
.text {
  font-size: 22px;
  color: v.$text-color;
  line-height: 1.6;
  letter-spacing: 0.22px;
  margin-bottom: 50px;
}
.call {
  color: v.$text-color;
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 30px;
  border-radius: 50%;
  background-color: v.$border-color;
  box-shadow: 5px 5px 20px #9f9b9b;
}

.tel {
  color: v.$text-color;
  display: flex;
  flex-direction: column;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
}

.number {
  font-size: 24px;
  color: v.$main-second-color;
  line-height: 36px;
  cursor: poiner;

  &:hover,
  &:focus {
    color: v.$btn-rgb-color;
  }
}

.btn {
  background-color: v.$btn-rgb-color;
  border-color: v.$btn-light-color;

  &:hover,
  &:focus {
    box-shadow: 5px 5px 20px v.$btn-light-color;
  }
}
.img {
  position: relative;
  width: 50%;
  height: 635px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0px 165px 0px 165px;
  box-shadow: 5px 5px 20px v.$box-chadow-color;

  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border: 1px solid v.$main-brand-color;
    border-radius: 0px 155px 0px 155px;
    pointer-events: none;
  }
}
@include m.tablet {
  .about {
    margin-bottom: 100px;
  }
  .wrapper {
    text-wrap: wrap;
    flex-direction: column;
  }
  .content {
    margin-bottom: 30px;
    width: 100%;
  }
  .title {
    font: size 32px;
    line-height: 1.2;
  }
  .text {
    font-size: 18px;
    line-height: 33px;
  }
  .icon {
    padding: 20px;
  }

  .tel {
    font-size: 18px;
    line-height: 33px;
  }
  .number {
    font-size: 20px;
  }
  .img {
    width: 100%;
    border-radius: 0px 200px 0px 200px;
    &::after {
      content: "";
      border-radius: 0px 190px 0px 190px;
    }
  }
}
@include m.mobile {
  .btn {
    padding: 12px 18px 12px 18px;
  }

  .about {
    margin-bottom: 80px;
  }
  .wrapper {
    flex-direction: column;
  }
  .content {
    margin-bottom: 30px;
  }
  .title {
    font-size: 30px;
    line-height: 1.1;
  }
  .img {
    width: 100%;
    border-radius: 0px 123px 0px 123px;
    &::after {
      content: "";
      border-radius: 0px 113px 0px 113px;
    }
  }
}
@include m.small-mobile {
  .wrapper {
    flex-direction: column;
  }
}
