@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.brand {
  padding: 70px 0px;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > img {
    max-width: 180px;
    transition: hover 0.3s;
  }
  img:hover {
    transform: scale(1.05);
  }
}
@include m.tablet {
  .brand {
    padding: 50px 0px;
  }

  .wrapper {
    gap: 20px;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    & > img {
      max-width: 100px;
    }
  }
  .wrapper::-webkit-scrollbar {
    display: none;
  }
}

@include m.mobile {
  .brand {
    padding: 30px 0px;
  }
  .wrapper {
    & > img {
      max-width: 60px;
    }
  }
}
@include m.small-mobile {
  .wrapper {
    & > img {
      max-width: 50px;
    }
  }
}
