// colors
$main-bg-color: #f7f5f1;
$second-bg-color: #f4f0ec;
$main-brand-color: #334d5e;
$main-second-color: #23272a;
$main-rgba-color: rgba(35, 39, 42, 0.9);

$text-color: #4d5053;
$text-color-btn: #fff;
$border-color: #d5d3d3;

$box-chadow-color: #cbcbcb;
$btn-rgb-color: rgb(158, 104, 68);
$btn-light-color: #bc8c5b;

// screen
$desktop-size: 1024px;
$tablet-size: 768px;
$mobile-size: 425px;
$mobile-small-size: 320px;
