// colors
$main-bg-color: #f7f5f1;
$second-bg-color: #f4f0ec;
$main-card-color: #f5f5f5;

$section-brand-color: #958780;
$main-second-color: #38322f;
$footer-second-color: #4c433e;
$main-rgba-color: rgba(35, 39, 42, 0.6);

$main-brand-color: #4d5053;
// $main-brand-color: #4c433e;
// $main-second-color: #8f6f5c;

// text
$text-color: #4d5053;
$text-color-btn: #fff;

// decor
$border-color: #d5d3d3;
$box-chadow-color: #cbcbcb;

// btn
$btn-rgb-color: rgb(158, 104, 68);
$btn-light-color: #bc8c5b;

// screen
$desktop-size: 1024px;
$tablet-size: 768px;
$mobile-size: 425px;
$mobile-small-size: 320px;
