@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.started {
  position: relative;
  padding-block: 200px 200px;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  // background-position: 30% center 20%;
  background-repeat: no-repeat;
  border-radius: 0px 0px 0px 290px;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    // background-color: rgba(19, 10, 4, 0.7);
    // background-color: v.$main-rgba-color;
    z-index: 1;
    border-radius: inherit;
  }

  > * {
    position: relative;
    z-index: 2;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 36px;
  max-width: 750px;
  // max-width: 600px;
}

.title {
  font-size: 80px;
  width: 100%;
  line-height: 1;
  letter-spacing: normal;
  // color: v.$main-bg-color;
  color: v.$second-bg-color;
  // color: v.$btn-light-color;
}
.text {
  font-size: 22px;
  color: v.$border-color;
  //   color: v.$second-bg-color;
}
.btn {
  background-color: v.$btn-rgb-color;
  border-color: v.$btn-light-color;
}
@include m.tablet {
  .started {
    padding-block: 100px;
  }
  .wrapper {
    gap: 26px;
  }
  .title {
    width: 100%;
    font-size: 54px;
    line-height: 1;
  }
}
@include m.mobile {
  .started {
    border-radius: 0px 0px 0px 90px;
  }
  .btn {
    margin-left: 30px;
  }
  .wrapper {
    display: flex;
    justify-content: center;
    gap: 40px;
  }
  .title {
    width: 100%;
    font-size: 42px;
    line-height: 0.9;
  }
}
@include m.small-mobile {
  .started {
    border-radius: 0px 0px 0px 90px;
  }
}
