.sliderContainer {
  max-width: 1100px;
  margin: 0 auto;
  background-color: rgba(49, 234, 49, 0.2);
  overflow: hidden;

  @media (min-width: 768px) and (max-width: 1024px) {
    padding: 0 10px;
  }

  @media (min-width: 1025px) {
    padding: 0px;
  }

  @media (min-width: 1281px) {
    width: 1280px;
    padding: 0px;
  }
}

.cardItem {
  display: flex;
  flex: 0 0 auto;
  max-width: 380px;

  @media (min-width: 425px) {
    padding: 0 5px;
  }
}
