@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.header {
  padding-block: 28px;
  background-color: v.$main-second-color;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger {
  display: none;
  & > .imageBurger {
    width: 40px;
  }
}

@media (min-width: v.$mobile-small-size) and (max-width: calc(v.$tablet-size )) {
  .burger {
    display: block;
    & > .imageBurger {
      width: 50px;
    }
  }
}
