@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.header {
  padding-block: 28px;
  background-color: v.$main-second-color;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.burger {
  display: block;
  & > img {
    width: 50px;
  }
}

@include m.mobile {
  .burger {
    & > img {
      width: 40px;
    }
  }
}
