@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;

.features {
  padding: 70px 0px 70px 0px;
  background-color: v.$second-bg-color;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@include m.tablet {
  .features {
    padding: 50px 0px 50px 0px;
  }
}

@media (min-width: v.$tablet-size) and (max-width: v.$desktop-size) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@include m.tablet {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@include m.mobile {
  .features {
    padding: 30px 0px 30px 0px;
  }
  .wrapper {
    grid-template-columns: repeat(1fr);
  }
}
