@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;

.logoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo {
  display: flex;
  justify-content: center;
  transition-duration: 0.3s ease;
  &:hover {
    transform: scale(1.05);
  }
}

.text {
  display: flex;
  align-self: center;
  transition-duration: 0.3s ease;
  color: v.$btn-light-color;
  &:hover {
    color: v.$btn-rgb-color;
  }
}
@include m.tablet {
  .logo > img {
    max-width: 150px;
  }
}
