@use "../../styles/variables" as v;

.card {
  padding: 15px;
  border: 1px solid v.$second-bg-color;
  border-radius: 0px 45px 0px 45px;
}
.title {
  margin-bottom: 30px;
  font-size: 26px;
  line-height: 1.34;
  padding: 5px 15px;
  width: 100%;
  letter-spacing: 0.5px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  // color: v.$second-bg-color;
  color: v.$main-bg-color;
}
.date {
  position: absolute;
  top: 0px;
  left: 24px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.22px;

  // color: v.$main-bg-color;
  color: v.$main-second-color;
}

.img {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  height: 300px;
  border-radius: 0px 45px 0px 45px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.bottom {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
}

.category {
  padding: 10px 15px;
  font-size: 16px;
  color: v.$btn-light-color;
  background-color: v.$main-brand-color;
  line-height: 1.5;
  letter-spacing: 0.22px;
  border-radius: 0px 8px 0px 8px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: v.$btn-rgb-color;
  border-color: v.$btn-light-color;

  & > img {
    position: relative;
    right: -6px;
    transition: shadow 0.3s;
  }

  &:hover {
    box-shadow: 0 0 15px v.$btn-light-color;
  }
}
