@use "../../styles/variables" as v;

.card {
  border-radius: 45px;
  box-shadow: 5px 5px 20px v.$main-rgba-color;
}
.title {
  margin-top: 10px;
  font-size: 26px;
  line-height: 1.34;
  padding: 5px 15px;
  width: 100%;
  letter-spacing: 0.5px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  color: v.$main-bg-color;
}

.date {
  position: absolute;
  top: 5px;
  left: 24px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.22px;
  color: v.$main-second-color;
}

.img {
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: 45px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;

  &::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 1px solid v.$main-bg-color;
    border-radius: 45px;
    pointer-events: none;
  }
}

.bottom {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 24px;
}

.category {
  display: flex;
  text-align: center;
  height: 35px;
  padding: 5px;
  font-size: 16px;
  background-color: v.$main-brand-color;
  color: v.$btn-light-color;
  line-height: 1.2;
  letter-spacing: 0.22px;
  border-radius: 0px 8px 0px 8px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: v.$btn-rgb-color;
  border-color: v.$btn-light-color;

  & > img {
    position: relative;
    right: -6px;
    transition: all 0.3s;
  }

  &:hover {
    background-color: v.$btn-light-color;
    box-shadow: 0 0 15px v.$btn-rgb-color;
  }
}
