@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;

.teamSection {
  padding-bottom: 70px;
}

.title {
  color: v.$main-brand-color;
  margin-bottom: 70px;
  font-size: 42px;
  line-height: 0.9;
  letter-spacing: normal;
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@include m.desktop {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include m.tablet {
  .teamSection {
    padding-bottom: 50px;
  }

  .title {
    margin: 50px 0;
    font-size: 32px;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }
}
@include m.mobile {
  .teamSection {
    padding-bottom: 30px;
  }
  .wrapper {
    grid-template-columns: 1fr;
  }
}

@include m.small-mobile {
  .title {
    margin: 30px 0;
    font-size: 30px;
  }
  .wrapper {
    grid-template-columns: 1fr;
  }
}
